In [1]:
import pandas as pd
import chardet 
import numpy as np

In [2]:
#Прочитаем файл в переменную log
log = pd.read_csv('C:\\Users\\vvoyt\\learning\\python-exercises\\8. Feature Engineering\\log.csv', header=None)

#Добавим названия колонок user_id, time, bet, win
log.columns = ['user_id','time','bet','win']

#Удалим значения user_id с ошибками
#log = log[log.user_id != '#error']

#Оставим в поле user_id значение типа "user_N", где N — значение идентификатора
log['user_id'] = log['user_id'].apply(lambda x: x.replace('Запись пользователя № - ', ''))

#Уберем начальную скобку из поля time
log.time = log.time.str.replace("[[#,@,&]", "")
log.head()

C:\Users\vvoyt\anaconda3\lib\site-packages\pandas\core\strings.py:710: FutureWarning: Possible nested set at position 1
  compiled = re.compile(pat, flags=flags)

    user_id                 time  bet  win
0  user_919  2019-01-01 14:06:51  NaN  NaN
1  user_973  2019-01-01 14:51:16  NaN  NaN
2  user_903  2019-01-01 16:31:16  NaN  NaN
3  user_954  2019-01-01 17:17:51  NaN  NaN
4  user_954  2019-01-01 21:31:18  NaN  NaN

In [3]:
log.head().isna()

   user_id   time   bet   win
0    False  False  True  True
1    False  False  True  True
2    False  False  True  True
3    False  False  True  True
4    False  False  True  True

In [4]:
# 10.3.1
#Посчитайте количество пропусков в столбце time. Метод isna() есть не только у DataFrame, но и у Series.
#Это значит, что применять его можно не только ко всей таблице, но и к каждому столбцу отдельно.

log['time'].isna().sum()

15

In [5]:
#10.3.2
#Удалите все столбцы, где есть пропуски. Запишите в поле, сколько осталось столбцов в данных после этого.
#Используйте оригинальный датасет log.csv.

log.dropna(axis=1)

      user_id
0    user_919
1    user_973
2    user_903
3    user_954
4    user_954
..        ...
995  user_984
996    #error
997    #error
998    #error
999    #error

[1000 rows x 1 columns]

In [6]:
#10.3.3
#Удалите все строки, где есть пропуски. Запишите в поле, сколько осталось строк в данных после этого.
#Используйте оригинальный датасет log.csv.

len(log.dropna(axis=0))

133

In [7]:
#10.3.4
#С признаками bet и win мы разберемся позже: пропуски в этих столбцах требуют особого подхода.
#Проверьте, есть ли пропуски в столбцах user_id и time. Если в столбце есть пропуски, удалите его.
#Сколько столбцов осталось в данных после этого?


#log.dropna(subset=['user_id', 'time'])

In [8]:
#10.4.1
#Удалите дубли среди столбцов user_id и time. Запишите в поле ниже, сколько осталось строк после удаления дублей.
#Используйте оригинальный датасет log.csv.

log.drop_duplicates(subset=['user_id', 'time'])

      user_id                 time      bet     win
0    user_919  2019-01-01 14:06:51      NaN     NaN
1    user_973  2019-01-01 14:51:16      NaN     NaN
2    user_903  2019-01-01 16:31:16      NaN     NaN
3    user_954  2019-01-01 17:17:51      NaN     NaN
4    user_954  2019-01-01 21:31:18      NaN     NaN
..        ...                  ...      ...     ...
991  user_965  2019-04-20 12:55:41    800.0  6927.0
992  user_967  2019-04-20 14:59:36  10154.0     NaN
993  user_973  2019-04-20 17:09:56  10254.0     NaN
994  user_977  2019-04-20 18:10:07  10354.0     NaN
995  user_984   2019-04-20 9:59:58   9754.0     NaN

[986 rows x 4 columns]

In [9]:
#10.5.1
#Уберите лишний символ, преобразуйте признак time к datetime. После этого найдите наибольшую дату и выведите ее без времени.
#Подсказка: можно применить метод max() к получившемуся столбцу со временем.
#Не забудьте избавиться от пропусков.
#Запишите ответ в формате "YYYY-MM-DD"

log = pd.read_csv('C:\\Users\\vvoyt\\learning\\python-exercises\\8. Feature Engineering\\log.csv', header=None)
log.columns = ['user_id','time','bet','win']
log['user_id'] = log['user_id'].apply(lambda x: x.replace('Запись пользователя № - ', ''))

log.time = log.time.str.replace("[[#,@,&]", "") #Убираем лишние символы из даты
pd.to_datetime(log['time'], format="%Y-%m-%d").max().date()

datetime.date(2019, 4, 20)

In [10]:
#10.5.2
#Посмотрите на изображение и код выше.
#Какую строчку надо написать вместо пропущенной строки, чтобы получитьвывод как на изображении?

log = pd.read_csv('C:\\Users\\vvoyt\\learning\\python-exercises\\8. Feature Engineering\\log.csv')  
log = log.dropna()  
log.columns = ['user_id', 'time', 'bet', 'win']  
log['time'] = log['time'].apply(lambda x: x[1:])  
log['time'] = pd.to_datetime(log['time'])  
# Пропущенная строка  
log['time'] = log.time.apply(lambda x: x.minute) #log.time = log.time.apply(lambda x: x.minute)
log['time'].head()

13     57
28     59
150    54
188    34
204    26
Name: time, dtype: int64

###

In [11]:
#10.6.1
#Используйте оригинальные данные log.csv, столбец time.
#Найдите минуту, которая встречалась в данных чаще всего. Введите ответ в поле ниже.
#Подсказка: можно использовать value_counts().

log = pd.read_csv('C:\\Users\\vvoyt\\learning\\python-exercises\\8. Feature Engineering\\log.csv')  
log.columns = ['user_id', 'time', 'bet', 'win'] 

log['user_id'] = log['user_id'].apply(lambda x: x.replace('Запись пользователя № - ', ''))
log.time = log.time.str.replace("[[#,@,&]", "") #Убираем лишние символы из даты

log['time'] = pd.to_datetime(log['time'])
log['time'].dt.minute.value_counts().index[0]

36.0

In [12]:
#10.6.2
#Используйте оригинальные данные log.csv, столбец time.
#Найдите месяц, который встречался в данных реже всего. Введите ответ в поле ниже.
#Подсказка: можно использовать value_counts().

log = pd.read_csv('C:\\Users\\vvoyt\\learning\\python-exercises\\8. Feature Engineering\\log.csv')  
log.columns = ['user_id', 'time', 'bet', 'win'] 

log['user_id'] = log['user_id'].apply(lambda x: x.replace('Запись пользователя № - ', ''))
log.time = log.time.str.replace("[[#,@,&]", "") #Убираем лишние символы из даты  

log['time'] = pd.to_datetime(log['time'])
log['time'].dt.month.value_counts().index[-1]

4.0

In [13]:
#10.6.3
#Используйте оригинальные данные log.csv, столбец time.
#Посчитайте, сколько дней в данных являются выходными (то есть, суббота или воскресенье). Введите ответ в поле ниже.
#Подсказка: можно использовать sum().

log = pd.read_csv('C:\\Users\\vvoyt\\learning\\python-exercises\\8. Feature Engineering\\log.csv')  
log.columns = ['user_id', 'time', 'bet', 'win'] 

log['user_id'] = log['user_id'].apply(lambda x: x.replace('Запись пользователя № - ', ''))
log.time = log.time.str.replace("[[#,@,&]", "") #Убираем лишние символы из даты  


log['time'] = pd.to_datetime(log['time'])
weekends = log[(log.time.dt.weekday == 5)|(log.time.dt.weekday == 6)]
len(weekends)

283

In [14]:
#10.6.4
#Используйте оригинальные данные log.csv, столбец time.
#Договоримся, что с 0 до 5 часов — ночь, с 6 до 11 — утро, с 12 до 17 — день, с 18 до 23 — вечер.
#Важно: для выполнения задания вам нужно будет избавиться от пропусков только в столбце time.
    #Вспомните, как избавиться от пропусков только по конкретному признаку.
#Посчитайте, какое время дня встречается в данных реже всего. Введите ответ в поле ниже.
    #Ответ должен быть один из: ночь, утро, день, вечер.
#Подсказка: можно использовать value_counts(). Кроме этого, потребуется написать функцию,
    #которая преобразует дату во время дня.
log = pd.read_csv('C:\\Users\\vvoyt\\learning\\python-exercises\\8. Feature Engineering\\log.csv')  
log.columns = ['user_id', 'time', 'bet', 'win'] 

log['user_id'] = log['user_id'].apply(lambda x: x.replace('Запись пользователя № - ', ''))
log.time = log.time.str.replace("[[#,@,&]", "") #Убираем лишние символы из даты  
log['time'] = pd.to_datetime(log['time'])
log['time'].dropna(axis=0)

conditions = [
    (log['time'].dt.hour >= 0) & (log['time'].dt.hour <= 5),
    (log['time'].dt.hour >= 6) & (log['time'].dt.hour <= 11),
    (log['time'].dt.hour >= 12) & (log['time'].dt.hour <= 17),
    (log['time'].dt.hour >= 18) & (log['time'].dt.hour <= 23)
]
choices = ['ночь', 'утро', 'день', 'вечер']
log['day_time'] = np.select(conditions, choices, default='не определено')

log['day_time'].value_counts().index[-2]

'вечер'

In [15]:
#10.6.5
#Давайте повторим пройденное. Напишите код, который создаст признак hour из признака time в датасете log.csv. Для этого:
#1. Загрузите датасет log.csv в переменную log, дальше работать будем с ней;
log = pd.read_csv('C:\\Users\\vvoyt\\learning\\python-exercises\\8. Feature Engineering\\log.csv') 

#2. Установите имена столбцов: ['user_id', 'time', 'bet', 'win'];
log.columns = ['user_id', 'time', 'bet', 'win'] 

#3. Избавьтесь от пропусков в log;
log.dropna(axis=0)

#4. Приведите переменную time к подходящему для извлечения признаков виду;
log.time = log.time.str.replace("[[#,@,&]", "")
log['time'] = pd.to_datetime(log['time'])

#5. Получите значение часа для каждой строки в переменной time и запишите в столбец hour в log;
log['hour'] = log['time'].dt.hour

#6. Результатом будет таблица log со столбцом hour внутри.
log

,user_id,time,bet,win,hour
0,Запись пользователя № - user_973,2019-01-01 14:51:16,NaN,NaN,14.0
1,Запись пользователя № - user_903,2019-01-01 16:31:16,NaN,NaN,16.0
2,Запись пользователя № - user_954,2019-01-01 17:17:51,NaN,NaN,17.0
3,Запись пользователя № - user_954,2019-01-01 21:31:18,NaN,NaN,21.0
4,Запись пользователя № - user_917,2019-01-01 23:34:55,156789.0,NaN,23.0
...,...,...,...,...,...
994,Запись пользователя № - user_984,2019-04-20 09:59:58,9754.0,NaN,9.0
995,#error,NaT,10054.0,29265.0,NaN
996,#error,NaT,10454.0,NaN,NaN
997,#error,NaT,1000.0,NaN,NaN
998,#error,NaT,10754.0,NaN,NaN

In [16]:
#10.7.1
#Используйте оригинальный датасет log.csv. Результат запишите числом в поле ниже.
#Подсказка: можно использовать value_counts().
#Посчитайте, сколько раз люди приходили, но не делали ставок. 
    #Для этого заполните пропуски в столбце bet значением 0 и посчитайте количество таких значений.

log2 = pd.read_csv('C:\\Users\\vvoyt\\learning\\python-exercises\\8. Feature Engineering\\log.csv') 
log2.columns = ['user_id', 'time', 'bet', 'win'] 
#log2['user_id'] = log2['user_id'].apply(lambda x: x.replace('Запись пользователя № - ', ''))
log2.time = log2.time.str.replace("[[#,@,&]", "") #Убираем лишние символы из даты  

log2['bet'] = log2['bet'].astype('Int64').fillna(0)
len(log2[log2['bet'] == 0])

514

In [17]:
# 10.7.2
#Используйте оригинальный датасет log.csv. Проделайте с ним действия из Задания 10.7.1
    #и из пункта "Заполнение с помощью функции". Это значит, что пропуски в столбцах bet и win у вас будут заполнены.
#Посчитайте, сколько раз участники ставок проиграли деньги.
    #То есть посчитайте количество строк, для которых в столбце win находится отрицательное значение.
#Подсказка: можно использовать sum().
#Результат запишите числом в поле ниже.
    
log2 = pd.read_csv('C:\\Users\\vvoyt\\learning\\python-exercises\\8. Feature Engineering\\log.csv') 
log2.columns = ['user_id', 'time', 'bet', 'win'] 
log2['user_id'] = log2['user_id'].apply(lambda x: x.replace('Запись пользователя № - ', ''))
log2.time = log2.time.str.replace("[[#,@,&]", "") #Убираем лишние символы из даты  

log2['bet'] = log2['bet'].astype('Int64').fillna(0)
log2['win'] = log2['win'].astype('Int64').fillna(0)
log2['profit'] = log2['win'] - log2['bet']

log2[(log2.profit < 0)].profit.count()

347

In [18]:
#10.8.1
#Используйте модифицированный в прошлой секции датасет log.csv. Результат запишите числом в поле ниже.
#Подсказка: можно использовать sum().
#Создайте признак net, хранящий сумму выигрыша с учетом ставки. 
    #Для этого из признака win поэлементно вычтите признак bet и запишите в новый столбец. После этого посчитайте, 
    #у скольких людей выигрыш положительный.

log2[(log2.profit > 0)].profit.count()

138

In [19]:
#10.8.2
#Используйте датасет log.csv, получившийся в результате выполнения предыдущего задания. 
#Посчитайте среднее значение выигрыша (из столбца net) в тех случаях, когда выигрыш больше 0. 
#Введите ответ не округляя, отбросив дробную часть.
#Подсказка: можно использовать mean().

log2[(log2['profit'] > 0)].profit.mean()

80253.33333333333

In [20]:
#10.8.3
#Используйте датасет log.csv, получившийся в результате выполнения первого задания этого блока.
#Посчитайте медианное значение выигрыша (из столбца net) в тех случаях, когда выигрыш больше 0.
#Введите ответ не округляя, отбросив дробную часть.

#Подсказка: можно использовать median().

log2[(log2['profit'] > 0)].profit.median()

5347.0

In [21]:
#10.9.1
#Используйте модифицированный датасет log.csv.
#При модификации датасета log.csv, пропущенные значения в столбцах bet и win замените на 0,
    #cоздайте столбец net, хранящий сумму выигрыша с учетом ставки (для этого из столбца win поэлементно вычтите
    #столбец bet и запишите в новый столбец).
#Посчитайте, какой процент посещений букмекерской конторы оборачивался ставкой.
    #Для этого поделите количество ставок (значений больше 0) на общее количество посещений конторы.
    #Результат округлите до одного знака после запятой.

a = log2[(log2.bet > 0)].bet.count() / log2.user_id.count() * 100
print ("%.1f" % a)

48.5

In [22]:
#10.9.2
#Используйте датасет log.csv, получившийся в результате модификации при выполнении первого задания этого блока.
#Посчитайте среднее значение ставки (из столбца bet) в тех случаях, когда ставка была сделана.
    #Введите ответ, не округляя, но отбросив дробную часть.
#Подсказка: можно использовать mean().

log2[(log2.bet > 0)].bet.mean()

6785.738144329897

In [23]:
#10.9.3
#Используйте датасет log.csv, получившийся в результате модификации при выполнении первого задания этого блока.
#Посчитайте средний выигрыш (из столбца net) в тех случаях, когда ставка была сделана.
#Пояснение: выигрыш в данном случае означает изменение количества денег и может быть отрицательным.
    #В таком случае это проигрыш.

log2[(log2.profit > 0) | (log2.profit < 0) ].profit.mean()

20421.892783505155

In [24]:
#10.9.4
#Используйте датасет log.csv, получившийся в результате модификации при выполнении первого задания этого блока.
#Посчитайте средний размер потерь при проигрыше (из столбца net). Введите ответ, не округляя, но отбросив дробную часть.
#Пояснение: ответ должен быть дан в виде отрицательного числа.

log2[(log2.profit < 0)].profit.mean()

-3372.743515850144

In [25]:
#10.9.5
#Посчитайте, какой процент ставок заканчивается выигрышем, а какой - проигрышем.
#Сравните эти значения и ответьте, какое из них больше.


print("Кол-во проигрышей:", log2[(log2.profit < 0)].profit.count())
print("Кол-во выигрышей:",log2[(log2.profit > 0)].profit.count())

Кол-во проигрышей: 347
Кол-во выигрышей: 138

In [26]:
#10.9.6
#Давайте повторим то, что мы прошли в этой секции. Н
#апишите код, который узнает, чему была равна минимальная ставка и сколько людей сделали такую ставку. Для этого:

#1. Загрузите датасет log.csv;
log = pd.read_csv('C:\\Users\\vvoyt\\learning\\python-exercises\\8. Feature Engineering\\log.csv') 
log.columns = ['user_id', 'time', 'bet', 'win'] 

#2. Посчитайте, чему равна минимальная ставка;
min_bet = log.bet.min()

#3. Посчитайте, сколько раз была сделана минимальная ставка и запишите результат в переменную min_bet_amount в виде целого числа.
min_bet_amount = log[(log.bet == min_bet)].bet.count()

In [27]:
#10.10.1
#Объедините датасеты log.csv и users.csv по признаку user_id по примеру выше. Ответ запишите в поле ниже.
#Запишите количество строк в получившейся таблице.

log = pd.read_csv('C:\\Users\\vvoyt\\learning\\python-exercises\\8. Feature Engineering\\log.csv') 
log.columns = ['user_id', 'time', 'bet', 'win'] 


users = pd.read_csv('C:\\Users\\vvoyt\\learning\\python-exercises\\8. Feature Engineering\\users.csv', encoding='KOI8-R', sep='\t')
users.columns = ['user_id', 'email', 'geo']

#Приведем признак user_id к одному формату в обоих датасетах  
users.user_id = users.user_id.apply(lambda x: x.lower())  

#Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  

#Уберём лишние символы из 'time'
log.time = log.time.str.replace("[[#,@,&]", "")

log_users = pd.merge(log, users, on='user_id')
log_users.count()

user_id    974
time       974
bet        470
win        132
email      966
geo        949
dtype: int64

In [28]:
log_users.groupby('user_id').win.median().median()

5951.75

In [29]:
#10.11.1
#Используйте датасет, который получился в результате всех преобразований выше (в том числе заполнение пропусков).
    #Ответ запишите в поле ниже в виде целого числа (отбросьте дробную часть).
#Посчитайте медиану баланса по каждому пользователю. 
    #Для этого сгруппируйте по пользователям, возьмите признак net, просуммируйте по каждому пользователю и возьмите медиану.
    
log = pd.read_csv('C:\\Users\\vvoyt\\learning\\python-exercises\\8. Feature Engineering\\log.csv') 
log.columns = ['user_id', 'time', 'bet', 'win'] 


users = pd.read_csv('C:\\Users\\vvoyt\\learning\\python-exercises\\8. Feature Engineering\\users.csv', encoding='KOI8-R', sep='\t')
users.columns = ['user_id', 'email', 'geo']

#Приведем признак user_id к одному формату в обоих датасетах  
users.user_id = users.user_id.apply(lambda x: x.lower())  

#Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  

#Уберём лишние символы из 'time'
log.time = log.time.str.replace("[[#,@,&]", "")

#Заполним нули
log = log.fillna(0)

#Считаем выигрышь
log['net'] = log['win'] - log['bet']

#Объединяем датасеты
log_users = pd.merge(users, log, on='user_id')

log_users.groupby('user_id').net.sum().median()

1986.0

In [32]:
#10.12.1
#Используйте датасет, который получился в результате всех преобразований в прошлой секции (в том числе, заполнение пропусков).
#Ответ запишите в поле ниже в виде одного слова с большой буквы.
#Наибольший суммарный выигрыш среди всех городов имеет Москва. 
    #Посчитайте следующий за ней город. Для этого сгруппируйте по городам, возьмите признак win,
    #просуммируйте по каждому городу, отсортируйте и возьмите второй город.

log = pd.read_csv('C:\\Users\\vvoyt\\learning\\python-exercises\\8. Feature Engineering\\log.csv') 
log.columns = ['user_id', 'time', 'bet', 'win'] 


users = pd.read_csv('C:\\Users\\vvoyt\\learning\\python-exercises\\8. Feature Engineering\\users.csv', encoding='KOI8-R', sep='\t')
users.columns = ['user_id', 'email', 'geo']

#Приведем признак user_id к одному формату в обоих датасетах  
users.user_id = users.user_id.apply(lambda x: x.lower())  

#Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  

#Уберём лишние символы из 'time'
log.time = log.time.str.replace("[[#,@,&]", "")

#Заполним нули
log = log.fillna(0)

#Считаем выигрышь
log['net'] = log['win'] - log['bet']

#Объединяем датасеты
log_users = pd.merge(users, log, on='user_id')

a = log_users.groupby('geo').win.sum()
print(a)

geo
Арзангелтск           74375.0
Воронеж              184338.0
Екатеринбург          36682.0
Ижевск                84895.0
Казань                97806.0
Краснодар             62718.0
Красноярск            84767.0
Москва             11959741.0
Пермь                 67734.0
Санкт-Петербург      151007.0
Ставрополь            46003.0
Тюмень                 4701.0
Хабаровск             65459.0
Ярославль             97441.0
Name: win, dtype: float64

In [33]:
#10.12.2
#Используйте датасет, который получился в результате всех преобразований в прошлой секции (в том числе, заполнение пропусков).

#Подсказки:
#1. Можно использовать методы min() и max().
#2. Учитывайте, что минимальная ставка, это ставка, которая была сделана, т.е. если ставка равна нулю - значит ставки не было.
#3. Ответ запишите в поле ниже в виде целого числа (нужно отбросить дробную часть).
#Во сколько раз различаются максимальное и минимальное значение средней ставки по городам? 
    #Для того, чтобы это посчитать, нужно сгруппировать по городам, взять среднее от признака bet, 
    #найти максимальное и минимальное значения, затем поделить одно на другое.
    
log = pd.read_csv('C:\\Users\\vvoyt\\learning\\python-exercises\\8. Feature Engineering\\log.csv') 
log.columns = ['user_id', 'time', 'bet', 'win'] 

users = pd.read_csv('C:\\Users\\vvoyt\\learning\\python-exercises\\8. Feature Engineering\\users.csv', encoding='KOI8-R', sep='\t')
users.columns = ['user_id', 'email', 'geo']

#Приведем признак user_id к одному формату в обоих датасетах  
users.user_id = users.user_id.apply(lambda x: x.lower())  

#Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  

#Уберём лишние символы из 'time'
log.time = log.time.str.replace("[[#,@,&]", "")

#Объединяем датасеты
log_users = pd.merge(users, log, on='user_id')

#Удаляем строки без ставки
log_users.dropna(subset=['bet'], inplace=True)

#Счиатем во сколько раз различаются максимальное и минимальное значение средней ставки по городам
log_users.groupby('geo').bet.mean().max() / log_users.groupby('geo').bet.mean().min()

127.81602335164835

In [34]:
#10.12.3
#Давайте повторим все, что мы прошли в этой секции. Напишите код, который посчитает, сколько раз пользователи приходили 
    #в букмекерскую контору в каждом городе. Для этого:

    #1. Загрузите датасеты log.csv и users.csv;
log = pd.read_csv('C:\\Users\\vvoyt\\learning\\python-exercises\\8. Feature Engineering\\log.csv') 
log.columns = ['user_id', 'time', 'bet', 'win'] 

users = pd.read_csv('C:\\Users\\vvoyt\\learning\\python-exercises\\8. Feature Engineering\\users.csv', encoding='KOI8-R', sep='\t')
users.columns = ['user_id', 'email', 'geo']

#2. Удалите user_id с ошибкой (#error) и приведите признак user_id к одному виду в обоих датасетах;
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1]) 
users.user_id = users.user_id.apply(lambda x: x.lower())  

#3. Слейте два датасета в один по признаку user_id;
log_users = pd.merge(log, users, on='user_id')

#4. Сгруппируйте данные по правильному признаку (это вам нужно понять самим), затем выберите user_id и
    #воспользуйтесь функцией count() для подсчета наблюдений в каждой группе;
sample2 = log_users.groupby('geo').user_id.count()
    
#5. Результат (таблицу) запишите в sample2.
print(sample2)

geo
Арзангелтск         96
Воронеж             88
Екатеринбург        49
Ижевск              61
Казань              66
Краснодар           86
Красноярск          56
Москва              61
Пермь               55
Санкт-Петербург    115
Ставрополь          36
Тюмень              32
Хабаровск           59
Ярославль           89
Name: user_id, dtype: int64