In [1]:
import pandas as pd

movies = pd.read_csv('C:\\Users\\vvoyt\\learning\\python-exercises\\5. Объединение таблиц\\movies.csv')
ratings = pd.read_csv('C:\\Users\\vvoyt\\learning\\python-exercises\\5. Объединение таблиц\\ratings.csv')

In [2]:
#6.3.1
#Какоe количество строк в файле рейтингов?

len(ratings)

100836

In [3]:
#6.3.2
#Какое количество жанров имеют фильмы в датасете модуля?

#6.3.3
#В каком столбце датасета модуля можно найти год производства фильма?

display(movies.head())

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
#6.3.4
#Какой минимальный рейтинг можно выставить фильму в датасете модуля?

min_rating = ratings['rating'].min()
display(min_rating)

0.5

In [5]:
#6.3.5
#Какой максимальный рейтинг можно выставить фильму в датасете модуля?

max_rating = ratings['rating'].max()
display(max_rating)

5.0

In [6]:
#6.7.2
#Сколько фильмов в таблице movies?

movies_count = movies['movieId'].nunique()
display(movies_count)

9742

In [7]:
#У датафреймов ratings и movies есть общий столбец movieId.
    #А это значит, что мы можем объединить эти датафреймы в одну таблицу. Используем метод merge:

joined = ratings.merge(movies, how='left', on='movieId')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [8]:
#После объединения датафреймов лучше проверять, что не возникло дубликатов.
#О возможных проблемах метода merge мы поговорим в следующем блоке.
#Сейчас убедимся в том, что число строк объединенного датафрейма совпадает с исходным:

len(ratings) == len(joined)

True

In [9]:
#Удаляем дубликаты
#Если вам нужно избежать такой ситуации, необходимо удалить дубликаты из таблицы movies.
#Для этого подходит метод drop_duplicates. В параметре subset указываем один или несколько столбцов,
    #по комбинации которых хотим удалить дубликаты. С помощью параметра keep указываем какой из встречающихся дубликатов
    #оставить (например, первый или последний). Параметр inplace указывает, что изменения нужно сохранить в датафрейме, 
    #к которому применяется метод (в нашем случае — в датафрейме movies):

        #movies.drop_duplicates(subset = 'movieId', keep = 'first', inplace = True)
        #movies.head()

#Теперь объединение таблиц будет корректным:
    #ratings.merge(movies, how = 'left', on = 'movieId')

In [10]:
#В этой серии заданий мы разберемся с данными новых поступлений интернет-магазина.
#В словаре items_dict (который мы переведем в датафрейм) содержится информация о наличии товара на складе:
items_dict = {

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 
    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
}

#А в словаре purchase_log — данные о покупках товаров:
purchase_log = {
    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 
    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
}

items_df = pd.DataFrame(items_dict)
purchase_df = pd.DataFrame(purchase_log)

In [11]:
#6.12.1
#Объедините получившиеся датафреймы по столбцу item_id с типом outer.
#Модель с каким item_id есть в статистике продаж purchase_df, но не учтена на складе? Введите ответ в виде целого числа.

outer_join = purchase_df.merge(items_df, how='outer', on='item_id')
outer_join

display(outer_join[outer_join['stock_count'].isnull()])

   purchase_id  item_id    price vendor  stock_count
8        145.0   103845  89900.0    NaN          NaN

In [12]:
#6.12.2
#Обратная задача — модель с каким item_id есть на складе, но не имела ни одной продажи? Введите ответ в виде целого числа.

outer_join = items_df.merge(purchase_df, how='outer', on='item_id')
outer_join

display(outer_join[outer_join['price'].isnull()])

   item_id vendor  stock_count  purchase_id  price
9   312394    ZTE         19.0          NaN    NaN

In [13]:
6.12.3
#Сформируйте датафрейм merged, в котором в результате объединения purchase_df и items_df останутся модели,
    #которые учтены на складе и имели продажи. Сколько всего таких моделей?

merged = purchase_df.merge(items_df, how='inner', on='item_id')
len(merged)

SyntaxError: invalid syntax (<ipython-input-13-9b7abe6ffc1d>, line 1)

In [14]:
#6.12.4
#Посчитайте объем выручки для каждой модели, которую можно получить, распродав все остатки на складе.
    #Модель с каким item_id имеет максимальное значение выручки после распродажи остатков? Ответ дайте в виде целого числа.

merge = items_df.merge(purchase_df, how='left', on='item_id')
merge['revenue_plan'] = merge['stock_count'] * merge['price']

merge.sort_values('revenue_plan', ascending=False)

   item_id   vendor  stock_count  purchase_id    price  revenue_plan
6   382043  Samsung           77        145.0  67500.0     5197500.0
7   302948  Samsung          143        145.0  34500.0     4933500.0
2   132223    Apple          122        101.0  38200.0     4660400.0
5  3294095    Apple           43        145.0  33000.0     1419000.0
4    19475       LG          102        121.0   9890.0     1008780.0
3   573943    Apple           18        112.0  49990.0      899820.0
0   417283  Samsung           54        101.0  13900.0      750600.0
8   100132       LG           60        221.0  11400.0      684000.0
1   849734       LG           33        101.0   5330.0      175890.0
9   312394      ZTE           19          NaN      NaN           NaN

In [15]:
#6.12.5
#Посчитайте итоговую выручку из прошлого задания по всем моделям. Ответ дайте в виде целого числа.

merge['revenue_plan'].sum()

19729490.0

In [18]:
import os

files = os.listdir('C:\\Users\\vvoyt\\learning\\python-exercises\\5. Объединение таблиц\\B5')
files

['ratings_1.txt',
 'ratings_10.txt',
 'ratings_2.txt',
 'ratings_3.txt',
 'ratings_4.txt',
 'ratings_5.txt',
 'ratings_6.txt',
 'ratings_7.txt',
 'ratings_8.txt',
 'ratings_9.txt']

In [19]:
#6.13.1
#Создайте на основе списка files новый список data, в который поместите только файлы, содержащие в названии "txt".

files = ['setup.py', 'ratings.txt', 'stock_stats.txt', 'movies.txt', 'run.sh', 'game_of_thrones.mov']
data = []

for file in files:
    if "txt" in file:
        data.append(file)

print(data)

['ratings.txt', 'stock_stats.txt', 'movies.txt']

In [20]:
#На прошлом шаге мы получили список файлов в папке. Давайте прочитаем файлы и склеим все выгрузки в один датафрейм .
#В этом нам поможет метод concatenate.
#Этот метод позволяет склеивать два и более датафреймов в один. 
    #Например, если у нас есть датафреймы df1 и df2 с одинаковыми столбцами, то единую таблицу можно получить следующим образом:
#total_dataframe = pd.concat([df1, df2])   


#Воспользуемся этим приёмом: при прохождении по файлам папки data будем записывать содержимое каждого файла в датафрейм temp и добавлять его к итоговому датафрейму data.
    #Перед этим создадим пустой датафрейм data с нужными названиями столбцов:
#data = pd.DataFrame(columns = ['userId', 'movieId', 'rating', 'timestamp'])


#Для каждого имени файла filename будем записывать его содержимое в датафрейм temp:
#temp = pd.read_csv( os.path.join('C:\\Users\\vvoyt\\learning\\Skillfactory trainee\\Module B\\data\\B6', filename),names = ['userId', 'movieId', 'rating', 'timestamp'] )


#И прибавлять содержимое очередного файла к data:
#data = pd.concat([data, temp])


#Использование временного датафрейма temp аналогично тому как мы прибавляем значение к переменной i в цикле: i = i + 1.
#Только вместо i у нас датафрейм data, а вместо единицы — temp.

In [21]:
#6.15.1
#Напишите цикл, который собирает содержимое файлов папки data в единый датафрейм data.
#Сколько строк в датафрейме data?

files = os.listdir('C:\\Users\\vvoyt\\learning\\Skillfactory trainee\\Module B\\data\\B6')
data = pd.DataFrame(columns = ['userId', 'movieId', 'rating', 'timestamp'])

for filename in files:
    temp = pd.read_csv(os.path.join('C:\\Users\\vvoyt\\learning\\Skillfactory trainee\\Module B\\data\\B6', filename), names = ['userId', 'movieId', 'rating', 'timestamp'])
    data = pd.concat([data, temp])
len(data)

100004

In [22]:
#6.17.3
#Какое количество раз была выставлена низшая оценка 0.5 в наших рейтингах? Используйте файл ratings.csv


ratings = pd.read_csv('C:\\Users\\vvoyt\\learning\\Skillfactory trainee\\Module B\\data\\ratings.csv')
ratings.groupby(['rating'])['rating'].count()

rating
0.5     1370
1.0     2811
1.5     1791
2.0     7551
2.5     5550
3.0    20047
3.5    13136
4.0    26818
4.5     8551
5.0    13211
Name: rating, dtype: int64

In [23]:
#6.17.4
#Объедините датафреймы ratings и movies, используя параметр how='outer'.
#Какое количество строк в получившемся датафрейме?

joined = ratings.merge(movies, how='outer', on='movieId')
len(joined)

100854

In [24]:
#6.17.5
#Найдите в датафрейме movies фильм с movieId=3456.
#Какой у него год выпуска?
    
joined = movies.merge(ratings, how='left', on='movieId') 
df = joined[joined['movieId'] == 3456]

display(df)

,movieId,title,genres,userId,rating,timestamp
54467,3456,"Color of Paradise, The (Rang-e khoda) (1999)",Drama,NaN,NaN,NaN

In [25]:
#6.16.6
#Сравните количество строк в датафрейме из задания 4 (после объединения датафреймов ratings и movies)
    #с количеством строк в ratings. Почему в данном случае число строк увеличилось?

len(ratings)

100836